@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.meta {
  display: flex;
  justify-content: space-between;

  .meta__date {
    font-style: italic;
  }

  .meta__editLink {
    justify-self: flex-end;
  }
}
